<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{setVar "route" ruta}}
      <table>
           <thead>
               <tr>
                   <td>
                      <h2>Archivos</h2>
                   </td>
                   <td>
                       <h2>Descargar</h2>
                   </td>
               </tr>
           </thead>
           <tbody>
               {{#each archivos as |key value|}}
               <tr>
                 <form action="/download/{{route}}/{{key}}"></form>
                   <td>                 
                        <h4>{{key}}</h4>                                                         
                   </td>
                   <td> 
                        <input type="submit" value="Descargar">  
                   </td>
                 </form>    
               </tr>
               {{/each}}
           </tbody>
      </table>
</body>
</html>