
<h2>Te has registrado correctamente</h2>
<p>Pronto serás redireccionado a la página de loguin</p>

<script>
    setTimeout( () => {
        document.location.href="/api/usuario/login";
    }, 2000)
</script>