<h2>Login</h2>
<div class="row g-3">

  <form action="/api/usuario/login" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="test"
        class="form-control"
        id="email"
        name="email"
        placeholder="Ingrese su email"
      />
    </div>
    <div class="form-group">
      <label for="pass">Contraseña</label>
      <input
        type="password"
        id="pass"
        name="password"
        required="true"
        class="form-control"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="basic-addon1"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>